@tailwind base;

@tailwind components;

/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'),
    url('./assets/fonts/nunito-v12-latin-regular.woff2') format('woff2'),
    url('./assets/fonts/nunito-v12-latin-regular.woff') format('woff');
}
/* nunito-600 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
    url('./assets/fonts/nunito-v12-latin-600.woff2') format('woff2'),
    url('./assets/fonts/nunito-v12-latin-600.woff') format('woff');
}
/* nunito-700 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'),
    url('./assets/fonts/nunito-v12-latin-700.woff2') format('woff2'),
    url('./assets/fonts/nunito-v12-latin-700.woff') format('woff');
}

/* ---------- NORMALIZE ---------- */

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  @apply outline-none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*:focus {
  @apply outline-none shadow-outline;
}

body,
html {
  @apply text-blue-600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-wide text-blue-500 font-bold mt-0 mb-4;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1 {
    @apply text-4xl;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2 {
    @apply text-3xl;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3, .h3 {
    @apply text-2xl;
  }
  h4, .h4 {
    @apply text-xl;
  }
}

ol,
ul {
  @apply pl-8;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

p,
ol,
ul,
dl {
  @apply mt-0 mb-4;
}

ol ol,
ul ul,
ol ul,
ul ol {
  @apply mb-0;
}

b,
strong {
  @apply font-bold;
}

i,
em {
  @apply italic;
}

small {
  @apply text-sm;
}

hr {
  @apply border-gray-500 my-8;
}

.menu-item {
  @apply block font-bold text-lg text-cool-gray-600 rounded-lg px-4 py-2;
}

.menu-item:focus {
  @apply outline-none shadow-outline;
}

.menu-item:hover {
  @apply bg-gray-500;
}

svg {
  @apply pointer-events-none;
}

.router-link-exact-active {
  @apply text-blue-500;
}

/* ---------- BUTTONS ---------- */

.btn {
  @apply inline-block font-bold rounded-lg shadow-sm px-6 py-2;
}

.btn:focus {
  @apply outline-none shadow-outline;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn-gray {
  @apply bg-gray-500 text-blue-500;
}

.btn-gray:focus {
  @apply bg-cool-gray-500;
}

.btn-outline,
.modal-btn {
  @apply block font-bold border border-blue-500 text-blue-500 bg-transparent rounded-lg shadow-sm;
}

.btn-outline:focus,
.modal-btn:focus {
  @apply bg-cool-gray-500 border-cool-gray-500 shadow-none;
}

.btn-outline:focus,
.modal-btn:focus {
  @apply outline-none shadow-outline;
}

/* ---------- INPUTS & FORM STYLES ---------- */

.form-control {
  @apply w-full block border border-gray-600 rounded-lg px-3 py-1;
}

.form-group {
  @apply flex flex-col border-b border-cool-gray-500 mb-8;
}

.form-group label {
  @apply tracking-wide text-sm text-blue-600 mb-1;
}

.auth-form-control {
  @apply bg-gray-500 px-3 py-1;
}

.auth-form-control:focus {
  outline: 0;
  @apply shadow-outline bg-white;
}

.error { color: salmon; }

/* ---------- QUILL EDITOR OVERRIDES ---------- */

.ql-toolbar.ql-snow,
.ql-container.ql-snow,
.ql-editor.ql-snow {
  @apply font-sans text-blue-600 text-base !important;
}

.ql-toolbar.ql-snow {
  @apply flex items-center border border-gray-600 rounded-full px-3 mb-4 !important;
}

.ql-toolbar.ql-snow * {
  @apply rounded !important;
}

.ql-toolbar.ql-snow .ql-formats {
  @apply inline-flex items-center mr-4 !important;
}

.ql-snow.ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected {
  @apply bg-gray-500 !important;
  @apply text-blue-500 !important;
}

.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  @apply text-blue-500 !important;
}

@media(max-width:767px) {
  .ql-toolbar.ql-snow .ql-formats {
    @apply mr-3;
  }

  .ql-clean {
    @apply hidden !important;
  }
}

.ql-container.ql-snow {
  @apply border-none !important;
}

.ql-editor {
  @apply border border-gray-600 rounded-lg !important;
}

.ql-snow a,
.ql-snow a:hover {
  @apply text-blue-500 !important;
}

.ql-editor {
  min-height: 25vh;
  max-height: 60vh;
  overflow-y: auto;
}

.ql-editor p, 
.ql-editor ol, 
.ql-editor ul, 
.ql-editor pre, 
.ql-editor blockquote, 
.ql-editor h1, 
.ql-editor h2, 
.ql-editor h3, 
.ql-editor h4, 
.ql-editor h5, 
.ql-editor h6 {
  @apply mb-4 !important;
}

/* ---------- TRANSITIONS ---------- */

.fade-enter-active, 
.fade-leave-active { 
  transition: opacity 0.25s ease-in-out;
}

.fade-enter-from, 
.fade-leave-to { 
  opacity: 0;
}

.list-enter-active, 
.list-leave-active {
  transition: all .5s;
}

.list-enter-from, 
.list-leave-to {
  opacity: 0;
}

.list-move {
  transition: transform .5s;
}

.list-leave-active {
  position: absolute;
}

.menu-enter-active,
.menu-leave-active {
  transition: all 0.75s;
}

.menu-enter-from,
.menu-leave-to {
  transform: translateX(-300px);
  opacity: 0;
}

.modal-enter-active, 
.modal-leave-active { 
  transform: translateY(0px);
  transition: opacity 0.25s ease-in-out, transform 0.35s ease-in-out; 
}

.modal-enter-from, 
.modal-leave-to { 
  opacity: 0;
  transform: translateY(-100px);
}

.toast-fade-enter-active,
.toast-fade-leave-active {
  transition: all 0.75s;
}

.toast-fade-enter-from,
.toast-fade-leave-to {
  transform: translateX(400px);
  opacity: 0;
}

/* ---------- HOVER STYLES ---------- */
/* Styles that shouldn't trigger on touch devices where :hover doesn't work properly = doesn't unset itself */
/* See: https://stackoverflow.com/questions/23885255/how-to-remove-ignore-hover-css-style-on-touch-devices */

@media (hover: hover) and (pointer: fine) {
  *:hover {
    transition: all 0.35s ease;
  }

  .logo:hover {
    @apply opacity-75;
  }

  .btn-gray:hover {
    @apply bg-cool-gray-500;
  }

  .btn-outline:hover,
  .modal-btn:hover {
    @apply bg-cool-gray-500 border-cool-gray-500 shadow-none;
  }
}

/* ---------- UI STYLES ---------- */

.recipe-card {
  @apply bg-gray-500 shadow-sm;
  min-height: 350px;
}

@media (hover: hover) and (pointer: fine) {
  .recipe-card:hover {
    box-shadow: 0 0.45rem 0.9rem rgba(0,0,0,.1);
    transition: box-shadow .35s ease-in-out;
  }
}

@media screen and (min-width:1024px) {
  .recipe-card:hover {
    transform: scale(1.015);
    transition: transform .25s ease;
  }
}

.min-h-200px {
  min-height: 200px;
}

@tailwind utilities;

/* Should target iOS devices */
@supports (-webkit-touch-callout: none) {
  /* Disable the callout on long presses of links */
  * {
    -webkit-touch-callout: none !important;
  }
  /* Disable the auto zoom on input:focus events */
  input,
  input:focus,
  select,
  select:focus,
  textarea,
  textarea:focus {
    font-size: 16px !important;
  }
}
